* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

h1, h2, h3, p {
    padding: 1em 0;
}

header {
    height: 450px;
}

#bg_image {
    display: block;
    background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    height: inherit;
    width: 100%;
    position: absolute;
    z-index: -1;
}

header h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

header div {
    display: inline-block;
    width: 880px;
}

header button {

    font-size: inherit;
    text-transform: capitalize;
    padding: 1em 2em;
    border: 1px solid #666;
    background: #333;
    color: #fff;
    text-decoration: none;
    margin: 0.5em 0;

}

#webDev {
    padding-bottom: 2em;
    background: #eaeaea;
    color: #333;
}

header button:hover{
    background: #eaeaea;
    color: #333;
}

#webDev div {
    display: inline-block;
    padding-bottom: 1em;
    width: 400px;
    margin: 0 1em;
}


#cards img {
    margin: 0;
    display: block;
    width: 100%;
}

.card{
    color: #333;
    height: 100%;
    margin: 2em 0.5em 2em 0.5em;
    width: 273px;
    display: inline-block;
    background: white;
}

.cardWrapper {
    padding: 1.5em;
}

#digitalNeeds{
    background: #fff;
    padding: 2em;
    color: #333;
}

#digitalNeeds div{
    display: inline-block;
    width: 880px;
}

#contAndAbout div{
    display: inline-block;
    width: 50%;
    padding: 2em;
}

#Contacts{
    background: #2690d4;
}

footer div {
    display: inline-block;
    padding: 2em;
    width: 50%;
    background: #000;
    color: #fff;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #2690d4;
}
